/**
 * Custom css styles applied to overall html.
 */

@import 'variables';
@import 'mixins';

// Global
*,
*:before,
*:after {
    .transition;
    .box-sizing;
}
html, body {
    overflow-x: hidden;
    overflow-y: hidden;
}
::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar-thumb {
    background-color: @scrollbar;
}

// Pad styles
#pad-root {
    width: 100%;
    height: 100%;
    background-color: @background-pad;
    -webkit-app-region: drag;

    .collapse-button-wrapper{
        position: absolute;
        right: 0px;
        z-index: 999;
        -webkit-app-region: no-drag;

        .navbar-toggle {
            display: block;
            margin: 0px 20px;
            padding: 5px;

            i {
                transition: opacity 0.3s;
                opacity: 0.1;
            }
            i.fa-floppy-o {
                opacity: 0.7;
            }
            &:hover > i {
                opacity: 1;
            }
        }
    }

    #navbar {
        // Overiding bootstrap
        .navbar-nav {
            margin: 7.5px 0px;
        }
        .nav > li {
            display: inline;
        }
        .nav > li > a {
            color: @dark-gray;
            display: inline;
            padding: 10px 15px;
            &:hover {
                color: darken(@dark-gray, 10%);
            }
        }
    }

    #editor {
        border: 0;
        padding: 0;
        margin: 0;
        height: auto;
        overflow-y: hidden;
        -webkit-app-region: no-drag;

        .ql-disabled {
            cursor: default;
        }
    }

    .ql-toolbar {
        border: 0;
        li, span {
            -webkit-app-region: no-drag;
        }
    }

    .ql-editor .ql-disabled {
        cursor: default;
    }

    .move-layer{
        position: fixed;
        bottom: 10px;
        right: 10px;
        opacity: 0.1;

        cursor: move;
        -webkit-app-region: drag;
    }

}
