// This is overall custom css styles.
// apply to all of html pages

html {
    height: 100%;
}
body {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    -webkit-app-region: drag;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background-color: #2d2f39;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        text-indent: 20px;
        line-height: 40px;
        a {
            text-decoration: none;
            color: #ddd;
        }
        a:hover {
            text-decoration: none;
            color: #fff;
        }
        a:active, a:focus {
            text-decoration: none;
        }
        div {
            display: block;
        }
        div:hover {
            background: rgba(255,255,255,0.2);
        }
    }
    .sidebar-brand {
        height: 65px;
        font-size: 15px;
        line-height: 60px;
        a {
            color: #e2e2e2;
        }
        a:hover {
            color: #fff;
            background: none;
        }
    }
    .sidebar-label {
        min-height: 40px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 5px;
    }
}

/* Timeline Styles */

ul.timeline li {
    position: relative;
    border-bottom: 1px solid #e8e8e8;
    clear: both;
}
ul.social li {
    border: 0;
}
.timeline {
    .block {
        margin: 0;
        border-left: 3px solid #e8e8e8;
        overflow: visible;
        padding: 10px 15px;
        margin-left: 105px;
    }
    .tags {
        position: absolute;
        top: 15px;
        left: 0;
        width: 84px;
    }
    .tag {
        display: block;
        height: 30px;
        font-size: 13px;
        padding: 8px;
        span {
            display: block;
            overflow: hidden;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    h2.title {
        position: relative;
        font-size: 16px;
        margin: 0;
        :before {
            content: "";
            position: absolute;
            left: -23px;
            top: 3px;
            display: block;
            width: 14px;
            height: 14px;
            border: 3px solid #d2d3d2;
            border-radius: 14px;
            background: #f9f9f9;
        }
    }
    .byline {
        padding: .25em 0;
    }
}
.timeline.widget {
    min-width: 0;
    max-width: inherit;
    .block {
        margin-left: 5px;
    }
}
.tag {
    line-height: 1;
    background: #1ABB9C;
    color: #fff !important;
    :after {
        content: " ";
        height: 30px;
        width: 0;
        position: absolute;
        left: 100%;
        top: 0;
        margin: 0;
        pointer-events: none;
        border-top: 14px solid transparent;
        border-bottom: 14px solid transparent;
        border-left: 11px solid #1ABB9C;
    }
}
.byline {
    -webkit-font-smoothing: antialiased;
    font-style: italic;
    font-size: .9375em;
    line-height: 1.3;
    color: #aab6aa;
}

/* Footer Styles */
.footer {
    padding-top: 19px;
    color: #777;
}

/* Responsive: Portrait tablets and up */

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* Pad navbar */

.collapse-button-wrapper{
    position: absolute;
    right: 0px;
    z-index: 999;
    -webkit-app-region: no-drag;

    .navbar-toggle {
        display: block;
        margin-top: 0px;
        margin-right: 10px;
        background-color: white;

        i {
            transition: opacity 0.3s;
            opacity: 0.1;
        }
        &:hover > i {
            opacity: 1;
        }
    }
}

#navbar {
    // Overiding bootstrap
    .navbar-nav {
        margin: 7.5px 0px;
    }
    .nav > li {
        display: inline;
    }
    .nav > li > a {
        color: #333;
        display: inline;
        padding: 10px 15px;
    }
}

.ql-toolbar {
  li, span {
    -webkit-app-region: no-drag;
  }
}

#editor {
    height: auto;
    overflow-y: hidden;
    -webkit-app-region: no-drag;

    .ql-disabled {
        cursor: default;
    }
}
.ql-editor .ql-disabled {
    cursor: default;
}

#move-layer{
    display: none;
    position: fixed;
    top: 0;
    width: 90%;
    height: 90%;
    margin: 5%;

    cursor: move;
    -webkit-app-region: drag;
}
